* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


form {
  margin-bottom: 20px;
  margin-top: 8px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  background-color: #191717;
  color: black;
  margin-top: 12px; 
}

th, td {
  border: 1px solid black;
  padding: 8px;
}
